.inputPlus {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 60px;
  margin-bottom: 60px;
  &::after {
    content: "";
    position: absolute;
    transform: translateX(50%);
    height: 2px;
    background-color: gray;
    width: 50%;
    bottom: -25px;
  }
  &Value {
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 9px 10px;
    font: 1rem/1.4 "Roboto", sans-serif;
    background: #dbe2ef;
    &::placeholder {
      color: #7b7b7b;
    }
  }
  &Button {
    border-radius: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
    cursor: pointer;
    background: #3f72af url("./plus.svg") no-repeat center center;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.7;
    }
  }
}
